// heading-primary
.heading-primary {
    font-size: 2.5rem;
    &__title {
         color: $color-primary;   
    }
}

// navigation

.navigation {
    &__list {
       list-style: none; 
       text-transform: uppercase;
    }
    
    &__item {
        display: inline-block;
        font-size: 1.5rem;
        padding-right: 1.5rem;
        
        &:last-child {
            padding-right: 0;    
        }
        
    }
    
    &__link {
        text-decoration: none;
        color: $light-grey-color;
        transition: all.3s;
        
        &--current {
            text-decoration: none;
            @include hoverLink;
        }
        
        &:hover {
            color: $color-primary;
            padding-bottom: .5rem;
            border-bottom: 3px solid $color-primary;
        }
    }
}


// showcase 

.showcase {  
    &__content {
        background: $dark-grey-color;
        color: $color-white;
        border-radius: 9rem;
        padding: 3.5rem;
        opacity: .9;
    }
    
    &__heading {
        font-size: 3.5rem;
        text-transform: capitalize;
        line-height: 3rem;
//        text-overflow: ellipsis;
        
        &-title {
            color: $color-primary;
        }
        
        &-body {
            color: $light-grey-color;
            font-size: 1.5rem;
        }
    }
}

// features

.features {
    &__heading {
        font-size: 3.5rem;
        margin-bottom: 1.5rem; 
    }
    
    &__heading-small {
        letter-spacing: .1rem;
        word-spacing: .1rem;
    }
    
    &__box { 
        & > * {
            padding: .9rem;
        }
    }
    
    &__icon {
        color: $color-primary;
        font-size: 6rem;
    }
    
    &__text {
        color: $light-grey-color;
        margin-bottom: 5rem;
        width: 100%;
    }
}

// info 

.info {
    &__heading {
        font-size: 3.5rem;
        margin-bottom: 3.5rem;
    }
    &__list {
        list-style: none;
    }
    
    &__item {
        padding-bottom: 1.5rem;
    }
    
    &__icon {
        padding-right: 1rem;
    }
}


// company 

.company {
    line-height: 2.5rem;
    &__heading {
        padding-bottom: 1.5rem;
    }
    
    &__list {
        list-style: none;
    }

    &__icon {
        padding-right: .7rem;
    }
}

// submit form

.sign-up-form {
    padding-top: 1rem;
    
    &__input {
        height: 3.5rem;
        width: 15rem;
        outline: none;
    }   
    
    &__btn {
        height: 3.65rem;
        width: 7rem;
        margin-left: -2rem;
        border: 0;
        background: $very-dark-color;
        color: $color-white;
        outline: none;
        cursor: pointer;
    }
}

.page {
    &__text {
        padding: 1.5rem 0;
        line-height: 2rem;
    }
}