// heading-primary
.heading-primary {
    font-size: 2.5rem;
    &__title {
         color: $color-primary;   
    }
}

// navigation

.navigation {
    &__list {
       list-style: none; 
       text-transform: uppercase;
    }
    
    &__item {
        display: inline-block;
        font-size: 1.5rem;
        padding-right: 1.5rem;
        
        &:last-child {
            padding-right: 0;    
        }
        
    }
    
    &__link {
        text-decoration: none;
        color: $light-grey-color;
        transition: all.3s;
        
        &--current {
            text-decoration: none;
            @include hoverLink;
        }
        
        &:hover {
            color: $color-primary;
            padding-bottom: .5rem;
            border-bottom: 3px solid $color-primary;
        }
    }
}