// header 

#main-header {
    border-bottom: 1px solid $color-primary;
    padding: 2rem 0;
}

// showcase

#showcase {
    background:url('../images/showcase.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid $color-primary;
    margin-bottom: 3rem;
    
    & .row {
        height: 60rem;
    }
}

// info

#info {
    background: $dark-grey-color;
    opacity: .9;
    color: $color-white;
}

// company 

#company {
    background: $dark-grey-color;
    color: $color-white; 
    padding: 2rem 0;
}