// header 

#main-header {
    border-bottom: 1px solid $color-primary;
    padding: 2rem 0;
}

// showcase

#showcase {
    background:url('../images/showcase.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid $color-primary;
    margin-bottom: 3rem;
    
    & .row {
        height: 60rem;
    }
}

// info

#info {
    background: $dark-grey-color;
    opacity: .9;
    color: $color-white;
    
    @include respond(tab-port) {
        padding: 2.5rem 0;
    }
}

// company 

#company {
    background: $dark-grey-color;
    color: $color-white; 
    padding: 2rem 0;
    
    @include respond(phone) {
        padding: 1rem 0 3.5rem 0;
    }
}

// footer

#main-footer{
    background: $color-primary;
    color: $color-white;
    padding: 1rem 0;    
}

#subheader {
    background-color: $very-dark-color;
    padding: 1.5rem 0;
    color: $color-white;
}

#page {
    padding: 3rem 0; 
}